


@import url('https://fonts.googleapis.com/css2?family=Just+Me+Again+Down+Here&family=Slabo+13px&display=swap');
/* *{
 margin: 0;
 padding: 0;
} */

 body{
     background-color: gray;
     padding: 18px 127px;
     
     display: flex;
 }
 .card{
     background-color: white;
     height: 600px;
     width: 390px;
     border-radius: 10px;
     margin: 5px;
 }
 .image{
     padding: 23px;
    
 }
 .image img{
     border-radius: 20px;
 }
 .capsule{
     text-align: center;

 }
 .capsule span{
     padding: 2px 10px 2px 11px;
     border: 1px solid black;
     border-radius: 20px;
     font-family: "Slabo 13px", serif;
     
    
 }
 .content{
     padding: 0px 18px;
     font-family: "Slabo 13px", serif;
    
     
 }
     

 .content p{
     font-size: 17px;
     font-family: "Slabo 13px", serif;
     color: gray;
   
 }
 .btn{
     text-align: center;
    
     
 }
 .btn button{
     font-size: 15px;
     border-radius: 5px;
     background-color: rgb(170, 230, 255);
     color: rgb(0, 106, 155);
     border: none;
     padding: 5px 11px 4px 14px;
     font-weight: bold;
     
     
 }

 .btn button:hover{
     background-color: rgb(199, 234, 242);
     color: rgb(0, 106, 155);
 }
